/*
This styles will be build and uses for the PDF version of this document
*/

h1 {
    color: #0c1362;
    text-align: right;
}

.cordoba-river-imag {
    padding: 6px;
    margin: 6px;
    border: 2px solid black;
    float: right;
    width: 150px;
}